.rangeContainer {
    margin: 5% auto;
    position: relative;
    max-width: 90%;
}

.allRange, .slider {
    margin: 0;
    padding: 0;
    left: 0;
}

.range {
    z-index: 1;
    position: absolute;
    height: 6px;
    background-color: #2323c6;
}

.allRange {
    position: absolute;
    z-index: 1;
    background-color: #fff;
    width: 100%;
    height: 6px;
}

.slider {
    display: block;
    position: absolute;
    width: 100%;
    appearance: none;
    background-color: #603c3c;
}

.slider::-webkit-slider-thumb {
    position: relative;
    top: 6px;
    z-index: 2;
    cursor: pointer;

    -webkit-appearance: none;
    background: #2323c6;
    width: 16px;
    height: 16px;
    border-radius: 50%;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-around;

    .item {
        min-width: min(130px, 90%);
        width: 30%;
        max-width: 90%;
    }

    input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
    }
}