.item {
    margin: min(10px, 5vh) 3vw min(100px, 15vh);
    display: grid;
    grid-template: "logo body";
    grid-template-columns: 1fr 5fr;
    column-gap: 3%;
    align-items: center;
}

.logo {
    grid-area: logo;
    position: relative;

    img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
    }
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    border: 1vh solid black;
    border-radius: 10vh;
    height: 100%;
    grid-area: body;
}
