.product {
    grid-area: p;
    height: 100%;
    text-align: center;
    border-top: 0.3vw solid black;
}

.title {
    margin: 1vh auto 0;
}

.items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
}